{% extends "base.html" %}
{% block content %}
<div class="SignUp-container">
<div class="forms container-form" style="text-align:center; max-width:600px">
    <ul class="tab-group">
        <li class="tab active"><a href="#as_student">Student</a></li>
        <li class="tab"><a href="#as_faculty">Faculty</a></li>
        <li class="tab"><a href="#as_crc">CRC</a></li>
    </ul>
    <form method="post" action="#" id="as_student">
        {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">LogIn as Student</legend>
                <div class="form-group">
                    {{ form.s_roll_no.label(class="form-control-label") }}
                    {% if form.s_roll_no.errors %}
                        {{ form.s_roll_no(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_roll_no.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.s_roll_no(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.s_password.label(class="form-control-label") }}
                    {% if form.s_password.errors %}
                        {{ form.s_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.s_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.s_remember(class="form-check-input", style="width:fit-content") }}
                    {{ form.s_remember.label(class="form-check-label") }}
                </div>
            </fieldset>
          <div class="form-group">
                {{ form.s_submit(class="btn button", style="margin-inline: auto") }}
                <small class="text-muted ml-2">
<!--                    <a href="#">Forgot Password?</a>-->
                </small>
          </div>
    </form>
    <form method="post" action="#" id="as_faculty" style="display:none">
          {{ department_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">LogIn as Department Faculty</legend>
                <div class="form-group">
                    {{ department_form.d_emp_id.label(class="form-control-label") }}
                    {% if department_form.d_emp_id.errors %}
                        {{ department_form.d_emp_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in department_form.d_emp_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ department_form.d_emp_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ department_form.d_password.label(class="form-control-label") }}
                    {% if department_form.d_password.errors %}
                        {{ department_form.d_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in department_form.d_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ department_form.d_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ department_form.d_remember(class="form-check-input", style="width:fit-content") }}
                    {{ department_form.d_remember.label(class="form-check-label") }}
                </div>
            </fieldset>
          <div class="form-group">
                {{ department_form.d_submit(class="btn button", style="margin-inline: auto") }}
                <small class="text-muted ml-2">
<!--                    <a href="#">Forgot Password?</a>-->
                </small>
          </div>
    </form>
    <form method="post" action="#" id="as_crc" style="display:none">
        {{ crc_form.hidden_tag() }}
          <fieldset class="form-group">
                <legend class="border-bottom mb-4">LogIn as CRC faculty</legend>
                <div class="form-group">
                    {{ crc_form.c_emp_id.label(class="form-control-label") }}
                    {% if crc_form.c_emp_id.errors %}
                        {{ crc_form.c_emp_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in crc_form.c_emp_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ crc_form.c_emp_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ crc_form.c_password.label(class="form-control-label") }}
                    {% if crc_form.c_password.errors %}
                        {{ crc_form.c_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in crc_form.c_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ crc_form.c_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ crc_form.c_remember(class="form-check-input", style="width:fit-content") }}
                    {{ crc_form.c_remember.label(class="form-check-label") }}
                </div>
            </fieldset>
          <div class="form-group">
                {{ crc_form.c_submit(class="btn button", style="margin-inline: auto") }}
                <small class="text-muted ml-2">
<!--                    <a href="#">Forgot Password?</a>-->
                </small>
          </div>
    </form>
</div>
</div>

{% endblock %}